<div class="container">
    <div class="card-header text-white bg-success">
        <h1>Ajouter un nouveau hotel</h1>
    </div>
    <form #f="ngForm" class="mt-4">

        <div class="form-group col-md-8 mt-3">
        <label class="col-md-4 col-form-label">Nom Hotel</label>
        
            <input type="text" name="nom" id="nom" ngModel required>
        </div>

        <div class="form-group col-md-8 mt-3">
        <label class="col-md-4 col-form-label">Discription de  l'Hotel</label>
            <textarea name="Discription" id="Discription" ngModel required></textarea>
        </div>
        <div class="form-group col-md-8 mt-3">
            <label class="col-md-4 col-form-label">Nombre de lits occupes</label>
            <input type="number" name="occupes" id="occupes" ngModel required>
        </div>
        <div class="form-group col-md-8 mt-3">
            <label class="col-md-4 col-form-label">Nombre de lits max</label>
            <input type="number" name="max" id="max" ngModel required>
        </div>
        <div class="form-group col-md-8 mt-3">
            <label class="col-md-4 col-form-label">Discription du wifi</label>
            <input type="text" name="wifi" id="wifi" ngModel>
        </div>
        <div class="form-group col-md-8  mt-3">
            <label class="col-md-4 col-form-label">Discription du parking</label>
            <input type="text" name="parking" id="parking" ngModel>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button" [disabled]="f.invalid">Ajouter</button>
            <button class="btn btn-primary" type="button">Annuler</button>
          </div>
    </form>

</div>