<div class="row">
<div class="card" style="width: 18rem;">
            <img [src]="hotel.imageUR" title="{{hotel.nomHotel}}" class="card-img-top" [alt]="hotel.nomHotel">
            <div class="card-body">
                <h4 class="card-title" style="display: inline;">
                    {{hotel.nomHotel}}
                </h4>
                <!--span [hidden]="!hotel.isdespo" class="badge bg-success">Disponible</span-->
                <input type="text" class="form-control mt-4" [(ngModel)]="hotel.nomHotel">
                <p class="card-text">
                    {{hotel.descHotel}}
                    <span *ngIf="hotel.wifi"> avec wifi {{hotel.wifi}}</span>
                    <span *ngIf="hotel.parking===true"> parking est disponible </span>
                </p>
                <button type="button" class="btn-sm" 
                [ngClass]="{'btn-danger':hotel.nblikes<25,
                'btn-warning':hotel.nblikes>=25 && hotel.nblikes<50,
                'btn-success':hotel.nblikes>=50}"
                (click)="addlikes()">

                     like &#9825;  
                </button>
                <span>&nbsp;{{hotel.nblikes}} 👍</span>
                <!--button type="button" class="btn btn-primary " (click)="verifierDispo()">Verifier disponibilite</button-->
                

            </div>

 </div>
</div>

    

