<div class="row mt-2">
<div class="col">
<div class="card-body">

    <div class="card-header text-white bg-danger">
        <h1>Saisie d'un nouveau user</h1>
    </div>
    <form #f="ngForm" (ngsubmit)="afficheruser(f.value)">

        <div class="form-group row mt-2">

            <label for="login" class="col-md-2 col-form-label" >Login</label>

            <div class="col-md-8">
                <input type="text" id="login" name="login"
                 class="form-control" #l="ngModel" ngModel required> 
            </div>
            <div class="alert alert-danger" *ngIf="l.invalid && l.touched">
                le login est un champ obligatoire
            </div>
        </div>
        <div class="form-group row mt-2">

             <label for="pw" class="col-md-2 col-form-label">Mot de passe</label>
             <div class="col-md-8">
                <input type="password" id="pw" name="pwd" 
                class="form-control" #p="ngModel" ngModel required
                pattern="[A-Z]{2}[0-9].{5,}">
             </div>
             <div class="alert alert-danger" *ngIf="p.invalid && p.touched">
                <div *ngIf="p.errors?.['required']">Votre mot de passe s'il vous plais</div> 
                <div *ngIf="p.errors?.['pattern']">Votre mot de passe n'est pas conform</div>
             </div>

        </div>

        <div class="form-group row mt-2">

            <label for="mail" class="col-md-2 col-form-label">Email</label>

            <div class="col-md-8">
                 <input type="email" id="mail" class="form-control" name="email" 
                 #e="ngModel" ngModel required>
            </div>
            <div class="alert alert-danger" *ngIf="e.invalid && e.touched">
                vous devez saisir votre adress mail
            </div>

        </div>

        <div class="form-group row mt-2">

            <div class="offset-md-2 col-md-4">
                <button type="submit" class="btn btn-danger text-white"
                style="margin-right: 10px;" [disabled]="f.invalid">Sauvegarder</button>
                <button type="button" class="btn btn-outline-danger"> Annuler</button>
            </div>
        </div>

    </form>
</div>
</div>
</div>