<div class="container">
    <div class="row">
        <h1>Gestion des hotels</h1>
        <!--div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/images/1.jpg" class="card-img-top" alt="image2">
                <div class="card-body">
                    <h4 class="card-title">
                        premier hotel
                    </h4>
                    <p class="card-text">voisi notre premier hotel</p>

                </div>

            </div>

        </div-->
        <app-list-hotel></app-list-hotel>
        <app-add-hotel></app-add-hotel>

    </div>
    <app-form></app-form>

</div>


